@font-face 
{
	font-family: Vegur_Light;
	src: url("/Styles/Vegur-Light.eot")
}
@font-face 
{
	font-family: Vegur_Light;
	src: url("/Styles/Vegur-Light.ttf")
}
@font-face 
{
	font-family: Vegur_Regular;
	src: url("/Styles/Vegur-Regular.eot")
}
@font-face 
{
	font-family: Vegur_Regular;
	src: url("/Styles/Vegur-Regular.ttf")
}
@font-face 
{
	font-family: Vegur_Bold;
	src: url("/Styles/Vegur-Bold.eot")
}
@font-face 
{
	font-family: Vegur_Bold;
	src: url("/Styles/Vegur-Bold.ttf")
}
.News-Container
{
	width: 100%;
}
.News-PrimaryHeader
{
	font-family: Vegur_Light, Gadget, sans-serif;
	text-align: left;
}
.News-SecondaryHeader
{
	padding-bottom: 5px;
	font-family: Vegur_Light, Gadget, sans-serif;
	color:#3b3b3b;
}
.News-Body
{
	font-size: 1.0em;
	text-align: justify;
	font-family: sans-serif;
	color:#3b3b3b;
}

.GenericImage
{}

hr
{
	border: 0; 
    color: #e3e3e3; 
    background-color: #e3e3e3; 
    height:1px; 
    margin-top:-5px; 
    margin-bottom:-5px
}

body 
{
	position: absolute;
    color: #0a0a0a;
	background-color: #efefef;
	width:100%;
	height:100%;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
}

strong, u
{
	color:#db7030;
    font-weight: normal;
}

p, div
{
	color:#4b4b4b;
	text-align: justify;
	font-family: Verdana, Geneva, sans-serif;
}

A:link {
	color: #2b2b2b;
	text-decoration: underline;
}
A:visited {
	color: #2b2b2b;
	text-decoration: underline;
}
A:hover {
	color: #d37928;
	text-decoration: underline;
}

.MenuLink:link
{
	font-family: Vegur_Light, Gadget, sans-serif;
	color: #fefefe;
	text-decoration: none;
}
.MenuLink:visited
{
	font-family: Vegur_Light, Gadget, sans-serif;
	color: #fefefe;
	text-decoration: none;
}
.MenuLink:hover
{
	font-family: Vegur_Light, Gadget, sans-serif;
	color: #d37928;
	text-decoration: none;
}

.AdminMenuLink:link
{
	font-family: Vegur_Light, Gadget, sans-serif;
	color: #d37928;
	text-decoration: none;
}
.AdminMenuLink:visited
{
	font-family: Vegur_Light, Gadget, sans-serif;
	color: #d37928;
	text-decoration: none;
}
.AdminMenuLink:hover
{
	font-family: Vegur_Light, Gadget, sans-serif;
	color: #ffac28;
	text-decoration: none;
}

.SubMenuLink:link
{
	font-family: Vegur_Light, Gadget, sans-serif;
	font-size: 0.7em;
	color: #fefefe;
	text-decoration: none;
}
.SubMenuLink:visited
{
	font-family: Vegur_Light, Gadget, sans-serif;
	font-size: 0.7em;
	color: #fefefe;
	text-decoration: none;
}
.SubMenuLink:hover
{
	font-family: Vegur_Light, Gadget, sans-serif;
	font-size: 0.7em;
	color: #d37928;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Vegur_Light, Gadget, sans-serif;
	color:#db7030;
	font-weight: bolder;
	margin:0px;
}

h1
{
    font-size: 2.8em;
}

h2
{
    font-size: 1.6em;
}

h3
{
    font-size: 1.4em;
}

h4
{
    font-size: 1.3em;
}

h5, h6
{
    font-size: 1.2em;
}

@media screen and (min-width: 768px) { 
	.MainContainer
	{
		width: 100%;
		height: 100%;
	}
	.News-PrimaryHeader
	{
		font-size: 1.3em;
	}
	.News-SecondaryHeader
	{
		font-size: 0.9em;
	}
	.Top-Menu { display: none; }
	.Left-Menu
	{
		display: block;
		height: 100%;
		width: 208px;
		font-size: 1.5em;
		background-color:#2b2b2b;
		color: #efefef;
		padding: 0px;
		margin: 0px;
		text-align: right;
		font-family: Vegur_Light, Gadget, sans-serif;
		vertical-align:top;
	}
	.Body
	{
		width:100%;
		padding: 20px;
		padding-top: 30px;
		padding-left: 25px;
		vertical-align:top;
		text-align: left;
		font-family: Verdana, Geneva, sans-serif;
	}
}

@media screen and (min-width: 1100px) { 
	.MainContainer {
		width: 1100px;
	}
	.Left-Menu
	{
		width: 268px;
		text-align: right;
	}
}

@media screen and (min-width: 1400px) { 
	.MainContainer {
		width: 1400px;
	}
	.Left-Menu
	{
		width: 268px;
		text-align: right;
	}
}

@media screen and (max-width: 768px) { 
	.MainContainer
	{
		width: 100%;
		height: 100%;
	}
	.News-PrimaryHeader
	{
		font-size: 1.1em;
	}
	.News-SecondaryHeader
	{
		font-size: 0.8em;
	}
	.Left-Menu { display: none; }
	.Top-Menu
	{
		display: block;
		font-size: 1.2em;
		background-color:#2b2b2b;
		color: #efefef;
		text-align: left;
		font-family: Vegur_Light, Gadget, sans-serif;
	}
    .MenuLink
    {
		font-size: 1.2em;
    }
    .SubMenuLink:link
    {
		font-size: 1.1em;
    }
	.Body
	{
		width:100%;
		padding: 20px;
		padding-top: 30px;
		padding-left: 25px;
		vertical-align:top;
		font-size: 0.9em;
		text-align: left;
		font-family: Verdana, Geneva, sans-serif;
	}
}

@media screen and (max-width: 480px) { 
	.News-PrimaryHeader
	{
		font-size: 1.1em;
	}
	.News-SecondaryHeader
	{
		font-size: 0.8em;
	}
	.Left-Menu { display: none; }
	.Top-Menu
	{
		min-width: 480px;
		display: block;
		background-color:#2b2b2b;
		color: #efefef;
		text-align: left;
		font-family: Vegur_Light, Gadget, sans-serif;
	}
    .MenuLink
    {
		font-size: 1.2em;
    }
    .SubMenuLink:link
    {
		font-size: 0.8em;
    }
	.Body
	{
		width:100%;
		padding: 20px;
		padding-top: 30px;
		padding-left: 25px;
		vertical-align:top;
		font-size: 0.9em;
		text-align: left;
		font-family: Verdana, Geneva, sans-serif;
	}
	
    .GenericImage
    {
        display: none;
    }
}
	